[Desktop Entry]
Type=MimeType
Patterns=*.cso;*.CSO;*.ciso;*.CISO;
MimeType=application/x-cso
Icon=cdtrack
Comment=Compressed ISO image file
Comment[az]=Compressed ISO əks faylı
Comment[be]=Файл вобразу Compressed ISO
Comment[bg]=Файл снимка Compressed ISO
Comment[bs]=Compressed ISO image datoteka
Comment[ca]=Fitxer d'imatge Compressed ISO
Comment[cs]=Soubor s Compressed ISO obrazem
Comment[cy]=Ffeil delwedd Compressed ISO
Comment[da]=Compressed ISO billedfil
Comment[de]=Compressed ISO-Bilddatei
Comment[el]=Αρχείο εικόνας Compressed ISO
Comment[es]=Archivo de imagen Compressed ISO
Comment[et]=Compressed ISO tõmmisefail
Comment[eu]=Compressed ISO irudia fitxategia
Comment[fa]=پرونده‌ی Compressed ISO
Comment[fi]=Compressed ISO binäärikuva
Comment[fr]=Image Compressed ISO
Comment[ga]=Comhad íomhá Compressed ISO
Comment[gl]=Ficheiro de imaxe Compressed ISO
Comment[he]=קובץ מראה של Compressed ISO
Comment[hi]=Compressed ISO चित्र फाइल
Comment[hu]=Compressed ISO-képmásfájl
Comment[is]=Compressed ISO diskmynd
Comment[it]=File immagine Compressed ISO
Comment[ja]=Compressed ISO イメージ ファイル
Comment[lt]=Compressed ISO atvaizdo byla
Comment[mn]=Compressed ISO хэв файл
Comment[nb]=Compressed ISO bildefil
Comment[nds]=Compressed ISO-Bilddatei
Comment[nl]=Compressed ISO-beeldbestand
Comment[nn]=Compressed ISO-biletfil
Comment[pl]=Plik obrazu systemu plików Compressed ISO
Comment[pt]=Ficheiro com imagem Compressed ISO
Comment[pt_BR]=Imagem Compressed ISO
Comment[ro]=Fişier imagine Compressed ISO
Comment[ru]=Файл образа Compressed ISO
Comment[se]=Compressed ISO-govvafiila
Comment[sk]=Obraz disku Compressed ISO
Comment[sl]=Podoba plošče Compressed ISO
Comment[sr]=Фајл Compressed ISO одраза
Comment[sr@Latn]=Fajl Compressed ISO odraza
Comment[sv]=Compressed ISO-avbildsfil
Comment[ta]=Compressed ISO உருக் கோப்பு
Comment[tg]=Файли тасвири Compressed ISO
Comment[tr]=Compressed ISO Dosyası
Comment[uk]=Файл образу Compressed ISO
Comment[uz]=Compressed ISO-тасвир файли
Comment[wa]=Fitchî imådje Compressed ISO
Comment[xx]=xxCompressed ISO image filexx
Comment[zh_CN]=Compressed ISO 映像文件
Comment[zh_TW]=Compressed ISO 映像檔案
