[Desktop Entry]
Type=MimeType
Patterns=*.ecm;*.ECM;
MimeType=application/x-ecm
Icon=cdtrack
Comment=ECM'ified image file
Comment[az]=ECM'ified əks faylı
Comment[be]=Файл вобразу ECM'ified
Comment[bg]=Файл снимка ECM'ified
Comment[bs]=ECM'ified image datoteka
Comment[ca]=Fitxer d'imatge ECM'ified
Comment[cs]=Soubor s ECM'ified obrazem
Comment[cy]=Ffeil delwedd ECM'ified
Comment[da]=ECM'ified billedfil
Comment[de]=ECM'ified-Bilddatei
Comment[el]=Αρχείο εικόνας ECM'ified
Comment[es]=Archivo de imagen ECM'ified
Comment[et]=ECM'ified tõmmisefail
Comment[eu]=ECM'ified irudia fitxategia
Comment[fa]=پرونده‌ی ECM'ified
Comment[fi]=ECM'ified binäärikuva
Comment[fr]=Image ECM'ified
Comment[ga]=Comhad íomhá ECM'ified
Comment[gl]=Ficheiro de imaxe ECM'ified
Comment[he]=קובץ מראה של ECM'ified
Comment[hi]=ECM'ified चित्र फाइल
Comment[hu]=ECM'ified-képmásfájl
Comment[is]=ECM'ified diskmynd
Comment[it]=File immagine ECM'ified
Comment[ja]=ECM'ified イメージ ファイル
Comment[lt]=ECM'ified atvaizdo byla
Comment[mn]=ECM'ified хэв файл
Comment[nb]=ECM'ified bildefil
Comment[nds]=ECM'ified-Bilddatei
Comment[nl]=ECM'ified-beeldbestand
Comment[nn]=ECM'ified-biletfil
Comment[pl]=Plik obrazu systemu plików ECM'ified
Comment[pt]=Ficheiro com imagem ECM'ified
Comment[pt_BR]=Imagem ECM'ified
Comment[ro]=Fişier imagine ECM'ified
Comment[ru]=Файл образа ECM'ified
Comment[se]=ECM'ified-govvafiila
Comment[sk]=Obraz disku ECM'ified
Comment[sl]=Podoba plošče ECM'ified
Comment[sr]=Фајл ECM'ified одраза
Comment[sr@Latn]=Fajl ECM'ified odraza
Comment[sv]=ECM'ified-avbildsfil
Comment[ta]=ECM'ified உருக் கோப்பு
Comment[tg]=Файли тасвири ECM'ified
Comment[tr]=ECM'ified Dosyası
Comment[uk]=Файл образу ECM'ified
Comment[uz]=ECM'ified-тасвир файли
Comment[wa]=Fitchî imådje ECM'ified
Comment[xx]=xxECM'ified image filexx
Comment[zh_CN]=ECM'ified 映像文件
Comment[zh_TW]=ECM'ified 映像檔案
