[Desktop Entry]
Type=MimeType
Patterns=*.gbi;*.GBI;
MimeType=application/x-gbi
Icon=cdtrack
Comment=gBurner image file
Comment[az]=gBurner əks faylı
Comment[be]=Файл вобразу gBurner
Comment[bg]=Файл снимка gBurner
Comment[bs]=gBurner image datoteka
Comment[ca]=Fitxer d'imatge gBurner
Comment[cs]=Soubor s gBurner obrazem
Comment[cy]=Ffeil delwedd gBurner
Comment[da]=gBurner billedfil
Comment[de]=gBurner-Bilddatei
Comment[el]=Αρχείο εικόνας gBurner
Comment[es]=Archivo de imagen gBurner
Comment[et]=gBurner tõmmisefail
Comment[eu]=gBurner irudia fitxategia
Comment[fa]=پرونده‌ی gBurner
Comment[fi]=gBurner binäärikuva
Comment[fr]=Image gBurner
Comment[ga]=Comhad íomhá gBurner
Comment[gl]=Ficheiro de imaxe gBurner
Comment[he]=קובץ מראה של gBurner
Comment[hi]=gBurner चित्र फाइल
Comment[hu]=gBurner-képmásfájl
Comment[is]=gBurner diskmynd
Comment[it]=File immagine gBurner
Comment[ja]=gBurner イメージ ファイル
Comment[lt]=gBurner atvaizdo byla
Comment[mn]=gBurner хэв файл
Comment[nb]=gBurner bildefil
Comment[nds]=gBurner-Bilddatei
Comment[nl]=gBurner-beeldbestand
Comment[nn]=gBurner-biletfil
Comment[pl]=Plik obrazu systemu plików gBurner
Comment[pt]=Ficheiro com imagem gBurner
Comment[pt_BR]=Imagem gBurner
Comment[ro]=Fişier imagine gBurner
Comment[ru]=Файл образа gBurner
Comment[se]=gBurner-govvafiila
Comment[sk]=Obraz disku gBurner
Comment[sl]=Podoba plošče gBurner
Comment[sr]=Фајл gBurner одраза
Comment[sr@Latn]=Fajl gBurner odraza
Comment[sv]=gBurner-avbildsfil
Comment[ta]=gBurner உருக் கோப்பு
Comment[tg]=Файли тасвири gBurner
Comment[tr]=gBurner Dosyası
Comment[uk]=Файл образу gBurner
Comment[uz]=gBurner-тасвир файли
Comment[wa]=Fitchî imådje gBurner
Comment[xx]=xxgBurner image filexx
Comment[zh_CN]=gBurner 映像文件
Comment[zh_TW]=gBurner 映像檔案
