[Desktop Entry]
Type=MimeType
Patterns=*.mdx;*.MDX;
MimeType=application/x-mdx
Icon=cdtrack
Comment=DaemonTools image file
Comment[az]=DaemonTools əks faylı
Comment[be]=Файл вобразу DaemonTools
Comment[bg]=Файл снимка DaemonTools
Comment[bs]=DaemonTools image datoteka
Comment[ca]=Fitxer d'imatge DaemonTools
Comment[cs]=Soubor s DaemonTools obrazem
Comment[cy]=Ffeil delwedd DaemonTools
Comment[da]=DaemonTools billedfil
Comment[de]=DaemonTools-Bilddatei
Comment[el]=Αρχείο εικόνας DaemonTools
Comment[es]=Archivo de imagen DaemonTools
Comment[et]=DaemonTools tõmmisefail
Comment[eu]=DaemonTools irudia fitxategia
Comment[fa]=پرونده‌ی DaemonTools
Comment[fi]=DaemonTools binäärikuva
Comment[fr]=Image DaemonTools
Comment[ga]=Comhad íomhá DaemonTools
Comment[gl]=Ficheiro de imaxe DaemonTools
Comment[he]=קובץ מראה של DaemonTools
Comment[hi]=DaemonTools चित्र फाइल
Comment[hu]=DaemonTools-képmásfájl
Comment[is]=DaemonTools diskmynd
Comment[it]=File immagine DaemonTools
Comment[ja]=DaemonTools イメージ ファイル
Comment[lt]=DaemonTools atvaizdo byla
Comment[mn]=DaemonTools хэв файл
Comment[nb]=DaemonTools bildefil
Comment[nds]=DaemonTools-Bilddatei
Comment[nl]=DaemonTools-beeldbestand
Comment[nn]=DaemonTools-biletfil
Comment[pl]=Plik obrazu systemu plików DaemonTools
Comment[pt]=Ficheiro com imagem DaemonTools
Comment[pt_BR]=Imagem DaemonTools
Comment[ro]=Fişier imagine DaemonTools
Comment[ru]=Файл образа DaemonTools
Comment[se]=DaemonTools-govvafiila
Comment[sk]=Obraz disku DaemonTools
Comment[sl]=Podoba plošče DaemonTools
Comment[sr]=Фајл DaemonTools одраза
Comment[sr@Latn]=Fajl DaemonTools odraza
Comment[sv]=DaemonTools-avbildsfil
Comment[ta]=DaemonTools உருக் கோப்பு
Comment[tg]=Файли тасвири DaemonTools
Comment[tr]=DaemonTools Dosyası
Comment[uk]=Файл образу DaemonTools
Comment[uz]=DaemonTools-тасвир файли
Comment[wa]=Fitchî imådje DaemonTools
Comment[xx]=xxDaemonTools image filexx
Comment[zh_CN]=DaemonTools 映像文件
Comment[zh_TW]=DaemonTools 映像檔案
