[Desktop Entry]
Type=MimeType
Patterns=*.xmd;*.XMD;
MimeType=application/x-xmd
Icon=cdtrack
Comment=GameJack image file
Comment[az]=GameJack əks faylı
Comment[be]=Файл вобразу GameJack
Comment[bg]=Файл снимка GameJack
Comment[bs]=GameJack image datoteka
Comment[ca]=Fitxer d'imatge GameJack
Comment[cs]=Soubor s GameJack obrazem
Comment[cy]=Ffeil delwedd GameJack
Comment[da]=GameJack billedfil
Comment[de]=GameJack-Bilddatei
Comment[el]=Αρχείο εικόνας GameJack
Comment[es]=Archivo de imagen GameJack
Comment[et]=GameJack tõmmisefail
Comment[eu]=GameJack irudia fitxategia
Comment[fa]=پرونده‌ی GameJack
Comment[fi]=GameJack binäärikuva
Comment[fr]=Image GameJack
Comment[ga]=Comhad íomhá GameJack
Comment[gl]=Ficheiro de imaxe GameJack
Comment[he]=קובץ מראה של GameJack
Comment[hi]=GameJack चित्र फाइल
Comment[hu]=GameJack-képmásfájl
Comment[is]=GameJack diskmynd
Comment[it]=File immagine GameJack
Comment[ja]=GameJack イメージ ファイル
Comment[lt]=GameJack atvaizdo byla
Comment[mn]=GameJack хэв файл
Comment[nb]=GameJack bildefil
Comment[nds]=GameJack-Bilddatei
Comment[nl]=GameJack-beeldbestand
Comment[nn]=GameJack-biletfil
Comment[pl]=Plik obrazu systemu plików GameJack
Comment[pt]=Ficheiro com imagem GameJack
Comment[pt_BR]=Imagem GameJack
Comment[ro]=Fişier imagine GameJack
Comment[ru]=Файл образа GameJack
Comment[se]=GameJack-govvafiila
Comment[sk]=Obraz disku GameJack
Comment[sl]=Podoba plošče GameJack
Comment[sr]=Фајл GameJack одраза
Comment[sr@Latn]=Fajl GameJack odraza
Comment[sv]=GameJack-avbildsfil
Comment[ta]=GameJack உருக் கோப்பு
Comment[tg]=Файли тасвири GameJack
Comment[tr]=GameJack Dosyası
Comment[uk]=Файл образу GameJack
Comment[uz]=GameJack-тасвир файли
Comment[wa]=Fitchî imådje GameJack
Comment[xx]=xxGameJack image filexx
Comment[zh_CN]=GameJack 映像文件
Comment[zh_TW]=GameJack 映像檔案
